<div class="client-header">
    <a class="return-clientList" routerLink="/clientes">
        <svg xmlns="http://www.w3.org/2000/svg" height="36px" viewBox="0 -960 960 960" width="36px" fill="#F25C93">
                <path d="M360-240 120-480l240-240 56 56-144 144h568v80H272l144 144-56 56Z"/>
        </svg>
    </a>
    <div class="header-title">
        <h2>{{title}}</h2>
    </div>
    <div class="Empty-Space"></div>
</div>
<hr>
<div class="clientRegister-content ">
    <div class="space-bar"><h5>CADASTRO {{today}}</h5></div>
    <div class="client-content-register">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
            <div class="client-information-text-inner-grid">
                <legend>Informações do Cliente</legend>
                <div><input type="text" formControlName="clientName"   id="clientName"     placeholder="Nome"   ></div>
                <div><input type="text" formControlName="clientNick"   id="clientNick"     placeholder="Apelido"></div>
                <div><input type="text" formControlName="clientPhone1" id="clientPhone1"   placeholder="Telefone Principal"></div>
                <div><input type="text" formControlName="clientPhone2" id="clientPhone2"   placeholder="Telefone 2"></div>
                <div><input type="text" formControlName="clientPhone3" id="clientPhone3"   placeholder="Telefone 3"></div>
                <div><input type="text" formControlName="clientBirth"  id="clientBirth"    placeholder="Data de Nascimento"></div>
            </div>

            <div class="client-address-information-text-inner-grid">
                <legend>Endereço</legend>
                <div><input type="text" formControlName="clientStreet"         id="clientStreet"       placeholder="Logradouro">   </div>
                <div><input type="text" formControlName="clientPostcode"       id="clientPostcode"     placeholder="CEP">          </div>
                <div><input type="text" formControlName="clientNeighborhood"   id="clientNeighborhood" placeholder="Bairro">       </div>
                <div><input type="text" formControlName="clientCity"           id="clientCity"         placeholder="Cidade">       </div>
            </div>

            <div class="clientProfilePictureExpanded">
                <img [src]="imagePreviewSrc || 'images/standard-profile-picture.jpg'" alt="Foto do Cliente" (click)="photoInput.click()">
                <input #photoInput type="file" formControlName="clientPhotoForm" id="clientPhotoForm" accept="image/jpeg" (change)="onFileSelected($event)"> 
            </div>
        </form>
        <div class="client-services-field">
            <legend>Nenhum serviço encontrado para este cliente</legend>
            <div class="client-services-infos">
                <legend><p>RECEITA TOTAL</p><p>R$ 00.000,00</p></legend>
                <legend><p>Ultima visita em</p><p>02/01/2024</p></legend>
            </div>  
            <div class="client-services-grid">
                <legend>Data</legend>
                <legend>Serviço</legend>
                <legend>Realizado por</legend>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <div class="space-bar">
        <a routerLink="/clientes"><button>Cancelar</button></a>
        <button (click)="onSubmit()">Salvar</button>
    </div>
</div>