<div class="worker-header">
    <h2>PROFISSIONAIS</h2>
    <div class="filter-container">
        <input #profissionalSearchbar type="search" id="profissional-pesquisar-filtro" placeholder="Pesquisar">
        <div class="profissional-pesquisar-button">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#fff">
                <path d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z"/>
            </svg>
        </div>
    </div>
    <a class="new-worker-button-container" (click)="onClear()">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed">
            <path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/>
        </svg>
        <legend>Cadastrar novo Profissional</legend>
    </a>
</div>
<hr>
<div class="worker-content">
    <div class="space-bar"></div>
    <div class="worker-wrapper">
        <div class="worker-grid-panel">
            <div class="list-workers">
                @for (profissional of profissionals; track profissional.id) {
                    <div class="worker-list-item" [id]="profissional.id" (click)="viewProfissional(profissional.id)">
                        <legend>{{ profissional.nome }}</legend>
                        <legend>{{ profissional.telefones[0] }}</legend>
                    </div>
                }
                @empty {
                    <legend>Não há profissionais cadastrados</legend>
                }
            </div>
            <div class="view-workers">
                <form [formGroup]="form" action="javascript:void(0)">
                    <div>
                        <label for="workerName">Nome Completo:</label>
                        <input type="text" id="workerName" formControlName="workerName">
                    </div>
                    <div>
                        <label for="workerMainPhone">Telefones:</label>
                        <input type="text" id="workerMainPhone" formControlName="workerMainPhone">
                        <input type="text" id="workerPhone2" formControlName="workerPhone2">
                        <input type="text" id="workerPhone3" formControlName="workerPhone3">
                    </div>
                    <div>
                        <label for="workerRate">% de Repasse:</label>
                        <input type="text" id="workerRate" formControlName="workerRate">
                        <label for="workerRegister">Data de cadastro:</label>
                        <input type="text" id="workerRegister" formControlName="workerRegister" readonly>
                    </div>
                    @if(editingView){
                        <div>
                            <button (click)="onDelete()">Excluir</button>
                            <button (click)="onEdit()">Editar</button>
                        </div>
                    }@else {
                        <div>
                            <button (click)="onClear()">Limpar</button>
                            <button (click)="onSubmit()">Salvar</button>
                        </div>
                    }
                </form>
            </div>
            <div class="more-workers">
                @if(editingView){
                    <legend>Não há informações sobre serviços realizados</legend>
                }
            </div>
        </div>
    </div>
    <div class="space-bar"></div>
</div>
