<div class="servicos-header">
    <a class="return-serviceList" routerLink="/admin/servicos">
        <svg xmlns="http://www.w3.org/2000/svg" height="36px" viewBox="0 -960 960 960" width="36px" fill="#F25C93">
                <path d="M360-240 120-480l240-240 56 56-144 144h568v80H272l144 144-56 56Z"/>
        </svg>
    </a>
    <div class="header-title">
        <h2>{{title}}</h2>
    </div>
    <div class="Empty-Space">.</div>
</div>
<hr>
<div class="serviceForm-content">
    <div class="space-bar"></div>
    <div class="serviceForm-wrapper">
        <form [formGroup]="form" action="javascript:void(0)">
            <label for="serviceCategory">
                <legend>Categoria:</legend>
                <select formControlName="serviceCategory" id="serviceCategory">
                    <option value="0" selected>Selecione uma categoria</option>
                    <option value="CABELOS">CABELOS</option>
                    <option value="SOBRANCELHAS">SOBRANCELHAS</option>
                    <option value="CILIOS">CILIOS</option>
                    <option value="UNHAS">UNHAS</option>
                </select>
            </label>

            <label for="serviceDescription">
                <legend>Descrição:</legend>
                <input type="text" formControlName="serviceDescription" id="serviceDescription" autocomplete="off">
            </label>

            <label for="serviceValue">
                <legend>Valor:</legend>
                <input type="text" formControlName="serviceValue" id="serviceValue" autocomplete="off">
            </label>

            <label for="serviceInterval">
                <legend>Renovação:</legend>
                <input type="text" formControlName="serviceInterval" id="serviceInterval" autocomplete="off" placeholder="Nº de dias para renovação">
            </label>

            @if(routerType == 'register'){
                <div class="form-buttons">
                    <a routerLink="/servicos">Cancelar</a>
                    <button (click)="onSubmit()">Salvar</button>
                </div>
            }
            @else {
                <div class="form-buttons">
                    <button (click)="onDelete()">Excluir</button>
                    <button (click)="onEdit()">Editar</button>
                </div>
            }
        </form>
    </div>
    <div class="space-bar"></div>
</div>
