<img 
src="/images/background.png" 
style="
    position: fixed; 
    left: 50%; top: 55%; 
    transform: translate(-50%, -50%); 
    height: 80vh; 
    box-shadow: 00px 00px 50px 50px #ffd8db; 
    border-radius: 50%; z-index: 5; 
    mask-image: linear-gradient(to center, black 95%, transparent 100%);" 
alt="HomePage Background">

<div class="hair"></div>
<div class="hair"></div>
<div class="hair"></div>
<div class="hair"></div>
<div class="hair"></div>
<div class="hair"></div>
<div class="hair"></div>
<div class="hair"></div>
<div class="hair"></div>
<div class="hair"></div>
<div class="hair"></div>
<div class="hair"></div>
<div class="hair"></div>
<div class="hair"></div>
<div class="hair"></div>
<div class="hair"></div>
<div class="hair"></div>
<div class="hair"></div>
<div class="hair"></div>
<div class="hair"></div>
<div class="hair"></div>
<div class="hair"></div>