:host {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

*{
    padding: 0;
    margin: 0;

    font-family: Roboto, sans-serif;
}

a{
    text-decoration: none;
}

.invoice-header{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.return-to-invoice-panel{
    width: 5%;
    text-align: center;
    color: white;
    cursor: pointer;
}

.invoice-header h2{
    font-family: "PermanentMarker", cursive;
    color: var(--dark-pink);
    padding: 5px;
    margin: 0% 5%;
    margin-right: 10%;
}

.invoice-form-content{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    position: relative;
}

.space-bar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.space-bar:first-child div{
    width: 70%;
    justify-self: center;
    display: flex; align-items: center; justify-content: space-between;
}
.space-bar:first-child span{
    font-size: small; font-family: monospace; color: gray;
}
.space-bar .invoice-date{
    box-sizing: border-box;
    background-color: white;
    height: 25px;
    width: 110px;
    border-radius: 3px;
    border: 1px solid var(--dark-pink);
    text-align: end;
    margin-left: auto;
}

.invoice-form-content .space-bar:last-child{
    position: absolute;
    bottom: 0;
}

.invoice-form-main{
    display: flex;
    justify-content: center;
    position: absolute;
    height: calc(100% - 72px);
    width: 100%;
    top: 36px; 
    background-color: white;
    overflow: auto; 
}

.invoice-body{
    box-sizing: border-box;
    height: 100%;
    width: 70%;
    display: grid;
    grid-template-rows: 1fr 5fr 1.5fr;
}

.invoice-body legend{
    align-self: flex-end;
    padding-left: 5px;
    color: rgba(0, 0, 0, 0.4);
    font-weight: 600;
    font-size: 90%;
}

.invoice-client-wrapper{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 8fr 2fr;
    gap: 2px;
    column-gap: 20px;
    position: relative;
}

.invoice-client-wrapper input:nth-of-type(1),
.invoice-client-wrapper input:nth-of-type(2){
    background-color: var(--light-pink);
    align-self: baseline;
    padding: 6px;
    border-radius: 5px;
    outline: none;
}

.invoice-client-wrapper input:nth-of-type(1){
    cursor: pointer;
}

.invoice-client-wrapper input:nth-of-type(2){
    text-align: center;
}

.invoice-client-box,
.invoice-procedure-box,
.invoice-profissional-box{
    box-sizing: border-box;
    position: absolute;
    bottom: calc(-250px + 15%);

    width: 75%;
    height: 250px;
    margin-left: 2.5%;

    border: 1px solid var(--mid-pink);
    border-radius: 4px;
    background-color: white;
    padding: 10px;

    z-index: 2;
}

.invoice-procedure-box,
.invoice-profissional-box{
    width: calc(100% + 30px);
    height: 250px;
    bottom: calc(-258px + 15%);
}

.invoice-client-box ul{
    box-sizing: border-box;
    overflow-y: auto;
    height: 100%;
}

.invoice-client-box li{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.invoice-client-box li :nth-child(1){
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.invoice-client-box li :nth-child(2){
    font-family: 'Courier New', Courier, monospace;
}

.invoice-client-box li:hover,
.invoice-procedure-box li:hover,
.invoice-profissional-box li:hover{
    background-color: var(--light-pink);
    cursor: pointer;
}

.invoice-procedure-list-wrapper{
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 0.5fr 8fr 1fr;
    gap: 2px;
}

.invoice-procedure-content{
    box-sizing: border-box;
    border: 3px solid var(--light-pink);
    background-color: var(--light-pink);
    max-height: 100%;
    border-radius: 5px;
    position: relative;
}

.invoice-procedure-list{
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 15px;
    overflow-y: auto;
}

.procedure-card{
    border-radius: 4px; margin: 8px; padding: 8px;
    display: flex; gap: 8px; flex-direction: column;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.05);
    background-color: white;
    margin-bottom: 24px;
}
.procedure-card .procedure-details{
    display: flex; gap: 8px;
}
.procedure-card .procedure-details select,
.procedure-card .procedure-details > span{
    font-size: smaller;
    background-color: white;
    border: 1px solid var(--dark-pink);
    border-radius: 8px;
    padding: 0px 8px;
    display: flex; align-items: center; gap: 4px;
}
.procedure-card .procedure-details h3{
    font-weight: 100;
    color: lightpink;
    font-size: small;
    align-self: center;
}
.procedure-card .procedure-resume{
    display: flex; gap: 5px; align-items: center;
    background-color: white; padding: 4px 8px;
    border: 1px solid var(--light-pink); border-radius: 4px;
    font-size: smaller;
}
.procedure-card .procedure-resume :nth-last-child(1),
.procedure-card > .procedure-details :nth-last-child(2){
    margin-left: auto;
}

.procedure-form{
    width: calc(100% - 32px); height: calc(100% - 32px); padding: 16px;
    background-color: white;
    display: flex; flex-direction: column; align-items: center; justify-content: center;
}
.procedure-form .selection-field{
    position: relative;
    width: min(40%);
    display: flex; align-items: center; justify-self: center; gap: 4px;
    background-color: var(--light-pink);  padding: 4px 8px; border-radius: 4px;
    margin-bottom: 16px;
}
.procedure-form .selection-field input{
    padding: 4px; outline: none; width: 100%; border-radius: 4px;
}
.procedure-form .selection-field svg{
    cursor: pointer;
}
.procedure-form .selection-field .invoice-procedure-box,
.procedure-form .selection-field .invoice-profissional-box{
    width: 150%;
    margin-left: -25%;
    overflow-y: auto;
}
.procedure-form .selection-field .invoice-procedure-box li{
    display: grid; grid-template-columns: 15ch auto 15ch; padding: 4px 0px;
}
.procedure-form .selection-field .invoice-procedure-box li :nth-child(1),
.procedure-form .selection-field .invoice-procedure-box li :nth-child(3){
    font-weight: 100;
}
.procedure-form .selection-field .invoice-profissional-box li{
   display: grid; padding: 4px 0px; 
}
.procedure-form .selection-field:nth-last-child(1){
    justify-content: center; gap: 36px; background-color: white;
}
.procedure-form .selection-field:nth-last-child(1) button{
    padding: 4px 16px;
}

.invoice-procedure-list-wrapper button{
    box-sizing: border-box;
    align-self: center;
    justify-self: end;
    background-color: var(--mid-pink);
    font-weight: 600;
    color: white;
    font-weight: 125%;
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
}

.invoice-complement-info-wrapper{
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 1fr 4fr;
    gap: 2px;
}

.invoice-complement-info-wrapper textarea{
    box-sizing: border-box;
    border: 3px solid var(--light-pink);
    outline: none;
    border-radius: 5px;
    height: 65%;
    padding: 5px;
    resize: none;
}

.invoice-form-content .space-bar:last-child{
    box-sizing: border-box;
    justify-content: space-between;
    padding: 0% 15%;
}

.invoice-form-content .space-bar:last-child :nth-child(2){
    box-sizing: border-box;
    background-color: var(--dark-pink);
    color: white;
    padding: 5px;
    border-radius: 3px;
    width: 150px;
    cursor: pointer;
}

.invoice-form-content .space-bar:last-child :nth-child(3){
    box-sizing: border-box;
    color: white;
    font-weight: 600;
    text-align: end;
}

.invoice-form-content .space-bar:last-child :nth-child(1),
.invoice-form-content .space-bar:last-child :nth-child(3){
    width: 10%;
}